<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Layout</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7; /* Light gray background */
        }

        header {
            background-color: #1db954; /* Green header */
            color: #fff; /* White text */
            padding: 20px;
            text-align: center;
        }

        nav ul {
            display: flex;
            gap: 20px;
            list-style-type: none;
            text-align: justify;
            margin: 0;
            padding: 0;
        }

        nav li {
            font-weight: bold;
        }

        nav a {
            text-decoration: none;
            color: #fff; /* White links */
        }

        nav a:hover {
            text-decoration: underline; /* Underline on hover */
        }

        footer {
            background-color: #1db954;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }

        h1 {
            text-transform: uppercase;
        }

        /* Driver Dashboard Styling */
        .dashboard-container {
            background-color: #fff; /* White container background */
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 20px;
            padding: 20px;
        }

        .dashboard-title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .dashboard-content {
            padding: 20px;
        }

    </style>
</head>
<body>
    <header>
        <h1>Welcome to the Driver Dashboard</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/orderlist">Order List</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/deliverylist">Delivery List</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <div class="dashboard-container">
        <div class="dashboard-content">
            <h2 class="dashboard-title">Dashboard</h2>
            {{{body}}}
        </div>
    </div>

    <footer>
        <p>Made for MADS class</p>
    </footer>
</body>
</html>
