<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Login Successful</h1>
    </header>

    <main>
        <section>
            <p>You have successfully logged in as a driver.</p>
            <p>HOME <a href="/">HOME</a></p>
        </section>
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>

</html>