<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Successfully!</title>
</head>

<body>
    <header>
        <h1>Registration Successful</h1>
    </header>

    <main>
        <section>
            <p>Your registration as a driver was successful. You can now <a href="/login">log in</a> using your
                credentials.</p>
            <p>HOME <a href="/">HOME</a></p>
        </section>
    </main>

    <footer>
        <!-- Footer content goes here -->
    </footer>
</body>

</html>